<%= form_tag signin_path do |f| %>
  <div class='row'>
    <div class='well col-md-offset-4 col-md-4'>
      <h2 class='text-center'>Kegomatic</h2>

      <% if @sign_in_error %>
        <p class='text-danger'>
          <%= @sign_in_error %>
        </p>
      <% end %>

      <div class='form-group'>
        <%= label_tag :username, nil, class: 'control-label' %>
        <%= text_field_tag :username, nil, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= label_tag :password, nil, class: 'control-label' %>
        <%= password_field_tag :password, nil, class: 'form-control' %>
      </div>
      <div class='form_group'>
        <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
